# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# Data & Model Checkpoints
models/checkpoints/*
!models/checkpoints/.gitkeep
data/raw/*
!data/raw/.gitkeep
outputs/temporary/*
!outputs/temporary/.gitkeep
outputs/masks/*
!outputs/masks/.gitkeep
outputs/overlays/*
!outputs/overlays/.gitkeep

# IDE & System
.vscode/
.idea/
.DS_Store
*.log
